Repository ln-markets/umbrel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn workspace front lint

fix: typos in scripts + dev workspace
  dev/infra/scripts/start.sh
  dev/package.json
  dev/scripts/start.sh
Due: none

feat: yarn scripts for basic interactions with LND (#14)
  dev/package.json
Due: none

docs: env setup automation + links for dependencies (#14)
  README.md
Due: none

PR: dev environment automation (#14)
  README.md
  dev/infra/scripts/init.sh
  dev/infra/scripts/start.sh
  dev/infra/scripts/stop.sh
  dev/package.json
  dev/scripts/start.sh
  dev/scripts/stop.sh
Due: none

refactor: from yarn to pnpm + removed dev workspace
  .husky/commit-msg
  .husky/pre-commit
  dev/README.md
  dev/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor: from yarn to pnpm + removed dev workspace (#16)
  .husky/commit-msg
  .husky/pre-commit
  apps/api/docker/Dockerfile.dev
  apps/front/docker/Dockerfile.dev
  dev/README.md
  dev/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: front dependencies induced by pnpm
  apps/front/src/components/Button.vue
  apps/front/src/modals/Deposit/Faillure.vue
  apps/front/src/modals/Withdraw/Faillure.vue
Due: prettier --write, yarn workspace front lint

refactor: config files and style rules (#16)
  .commitlintrc.js
  .lintstagedrc.yml
  .prettierrc.js
  .prettierrc.json
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/front/.eslintrc.js
  apps/front/package.json
  apps/front/stylelint.config.js
  package.json
Due: prettier --write, eslint --fix, yarn workspace front lint

PR: migrate from yarn to pnpm (#16)
  .commitlintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierrc.js
  .prettierrc.json
  apps/api/.eslintrc.js
  apps/api/docker/Dockerfile.dev
  apps/api/package.json
  apps/front/.eslintrc.js
  apps/front/docker/Dockerfile.dev
  apps/front/package.json
  apps/front/src/components/Button.vue
  apps/front/src/modals/Deposit/Faillure.vue
  apps/front/src/modals/Withdraw/Faillure.vue
  apps/front/stylelint.config.js
  dev/README.md
  dev/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, yarn workspace front lint

fix: docker-compose with right network (#19)
  docker-compose.yml
Due: none

refactor: deposit and withdrawals counters (#12)
  apps/api/srcs/routes/user/get.js
  apps/api/srcs/routes/user/history/get.js
  apps/api/srcs/routes/user/index.js
  apps/front/src/App.vue
  apps/front/src/store/user/actions.js
  apps/front/src/store/user/getters.js
  apps/front/src/store/user/index.js
  apps/front/src/store/user/mutations.js
  apps/front/src/views/Profile.vue
Due: prettier --write, eslint --fix, yarn workspace front lint

refactor: withdraw and deposit front logic to be easier (#8)
  apps/front/src/store/user/actions.js
  apps/front/src/store/user/index.js
  apps/front/src/store/user/mutations.js
Due: prettier --write, yarn workspace front lint

refactor: positions counters (#12)
  apps/api/srcs/routes/futures/get.js
  apps/front/src/store/futures/actions.js
  apps/front/src/store/futures/getters.js
  apps/front/src/store/futures/index.js
  apps/front/src/store/futures/mutations.js
  apps/front/src/store/user/getters.js
  apps/front/src/views/Profile.vue
Due: prettier --write, eslint --fix, yarn workspace front lint

fix: deposit process (#8)
  apps/api/srcs/routes/user/deposit/post.js
  apps/front/src/modals/Deposit/After.vue
  apps/front/src/modals/Deposit/Before.vue
  apps/front/src/modals/Deposit/Index.vue
  apps/front/src/store/user/actions.js
Due: prettier --write, eslint --fix, yarn workspace front lint

fix: withdraw process + added fees in details (#8)
  apps/api/srcs/routes/user/withdraw/post.js
  apps/front/src/modals/Withdraw/After.vue
  apps/front/src/modals/Withdraw/Before.vue
  apps/front/src/modals/Withdraw/Index.vue
  apps/front/src/store/user/actions.js
  apps/front/src/store/user/index.js
Due: prettier --write, eslint --fix, yarn workspace front lint

refactor: history data fetcher not needed anymore (#12)
  apps/api/srcs/wrappers/history.js
Due: prettier --write, eslint --fix

PR: refactor history and fix withdraw/deposit systems (#8, #12)
  apps/api/srcs/routes/futures/get.js
  apps/api/srcs/routes/user/deposit/post.js
  apps/api/srcs/routes/user/get.js
  apps/api/srcs/routes/user/history/get.js
  apps/api/srcs/routes/user/index.js
  apps/api/srcs/routes/user/withdraw/post.js
  apps/api/srcs/wrappers/history.js
  apps/front/src/App.vue
  apps/front/src/modals/Deposit/After.vue
  apps/front/src/modals/Deposit/Before.vue
  apps/front/src/modals/Deposit/Index.vue
  apps/front/src/modals/Withdraw/After.vue
  apps/front/src/modals/Withdraw/Before.vue
  apps/front/src/modals/Withdraw/Index.vue
  apps/front/src/store/futures/actions.js
  apps/front/src/store/futures/getters.js
  apps/front/src/store/futures/index.js
  apps/front/src/store/futures/mutations.js
  apps/front/src/store/user/actions.js
  apps/front/src/store/user/getters.js
  apps/front/src/store/user/index.js
  apps/front/src/store/user/mutations.js
  apps/front/src/views/Profile.vue
Due: prettier --write, eslint --fix, yarn workspace front lint

refactor: pnpm scripts (#22)
  package.json
Due: none

refactor: yarn to pnpm scripts (#23)
  README.md
Due: none

refactor: url setup in API config (#11)
  apps/api/srcs/config.js
Due: prettier --write, eslint --fix

feat: added infos to disclaimer + github link (#9)
  apps/front/src/components/Footer.vue
  apps/front/src/modals/Disclaimer.vue
  apps/front/src/plugins/font-awesome.js
Due: prettier --write, yarn workspace front lint

fix: footer overiding data on some devices (#10)
  apps/front/src/App.vue
Due: prettier --write, yarn workspace front lint

PR: front overhaul (#8, #10, #13)
  apps/front/src/App.vue
  apps/front/src/components/Footer.vue
  apps/front/src/modals/Disclaimer.vue
  apps/front/src/plugins/font-awesome.js
Due: prettier --write, yarn workspace front lint

feat: placeholder for market data (#25)
  apps/front/src/views/Profile.vue
Due: prettier --write, yarn workspace front lint

feat: websocket server relay (#25)
  apps/api/package.json
  apps/api/srcs/server.js
  apps/api/srcs/websockets/server.js
Due: prettier --write, eslint --fix

feat: websocket client for market data (#25)
  apps/front/package.json
  apps/front/src/App.vue
  apps/front/src/plugins/client.js
  apps/front/src/plugins/utils.js
  apps/front/src/plugins/websocket.js
  apps/front/src/store/futures/market/actions.js
  apps/front/src/store/futures/market/index.js
  apps/front/src/store/futures/market/mutations.js
  apps/front/src/store/index.js
  apps/front/src/store/websokets/actions.js
  apps/front/src/store/websokets/getters.js
  apps/front/src/store/websokets/index.js
  apps/front/src/store/websokets/mutations.js
  apps/front/src/views/Profile.vue
Due: prettier --write, yarn workspace front lint

refactor: show index as LNMarkets does
  apps/front/src/store/futures/market/getters.js
  apps/front/src/store/futures/market/index.js
  apps/front/src/views/Profile.vue
Due: prettier --write, yarn workspace front lint

feat: vs-code settings
  .vscode/settings.json
Due: none

chore: remove lock file and update .gitignore
  apps/front/.gitignore
  pnpm-lock.yaml
Due: none

chore: update dependencies
  apps/api/package.json
  apps/front/package.json
  package.json
  pnpm-lock.yaml
Due: none

refactor: update dockerfile with pnpm (#19)
  Dockerfile
Due: none

PR: add websockets to fetch market-data (#25)
  apps/api/package.json
  apps/api/srcs/server.js
  apps/api/srcs/websockets/server.js
  apps/front/package.json
  apps/front/src/App.vue
  apps/front/src/plugins/client.js
  apps/front/src/plugins/utils.js
  apps/front/src/plugins/websocket.js
  apps/front/src/store/futures/market/actions.js
  apps/front/src/store/futures/market/getters.js
  apps/front/src/store/futures/market/index.js
  apps/front/src/store/futures/market/mutations.js
  apps/front/src/store/index.js
  apps/front/src/store/websokets/actions.js
  apps/front/src/store/websokets/getters.js
  apps/front/src/store/websokets/index.js
  apps/front/src/store/websokets/mutations.js
  apps/front/src/views/Profile.vue
Due: prettier --write, eslint --fix, yarn workspace front lint

feat: fixed docker file
  Dockerfile
  apps/api/package.json
  apps/api/srcs/loaders/express.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

refactor: stricter eslint config
  apps/api/.eslintrc.js
  apps/front/.eslintrc.js
Due: prettier --write, eslint --fix, yarn workspace front lint

Path conditions:
  prettier --write: (any of: apps/api/**/*.js) or (any of: apps/front/**/*.{js,vue})
  eslint --fix: any of: apps/api/**/*.js
  yarn workspace front lint: any of: apps/front/**/*.{js,vue}
