Repository ln-markets/umbrel: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, yarn workspace front lint

.lintstagedrc.yml:

apps/api/**/*.js:
  - prettier --write
  - eslint --fix
apps/front/**/*.{js,vue}:
  - prettier --write
  - yarn workspace front lint

Added documentation
  README.md
Due: none

Added healthcheck
  apps/api/docker/healthcheck.js
  apps/api/srcs/loaders/express.js
Due: prettier --write, eslint --fix

Add docker plateform image
  .github/workflows/umbrel.yml
Due: none

fix: removed node-prune amd64 from dockerfile
  Dockerfile
Due: none

feat: add commit-lint
  .husky/commit-msg
  package.json
  yarn.lock
Due: none

fix: fixed regex for cors
  apps/api/srcs/middleware/cors.js
Due: prettier --write, eslint --fix

refactor: updated some getters
  apps/front/src/store/futures/getters.js
  apps/front/src/store/user/getters.js
Due: prettier --write, yarn workspace front lint

fix: few outdated API routes
  apps/api/srcs/routes/futures/get.js
  apps/api/srcs/routes/user/history/get.js
  apps/front/src/store/futures/actions.js
  apps/front/src/store/user/actions.js
Due: prettier --write, eslint --fix, yarn workspace front lint

fix: network selection
  apps/api/srcs/config.js
Due: prettier --write, eslint --fix

feat: some dev script to ease up the local setup
  Dockerfile
  dev/package.json
  package.json
Due: none

fix: reduce bug with 0 initial value
  apps/front/src/store/futures/getters.js
Due: prettier --write, yarn workspace front lint

docs: updated how to launch dev environment
  README.md
Due: none

fix: typos in Disclaimer view
  apps/front/src/modals/Disclaimer.vue
Due: prettier --write, yarn workspace front lint

fix: deposit and withdraw process + histories
  apps/api/srcs/routes/user/history/get.js
  apps/front/src/store/user/actions.js
Due: prettier --write, eslint --fix, yarn workspace front lint

feat: added unit on the side of the input box within withraw and deposit modals
  apps/front/src/modals/Deposit/Before.vue
  apps/front/src/modals/Withdraw/Before.vue
Due: prettier --write, yarn workspace front lint

refactor: slider steps in withdraw and deposit modals are more accurate now
  apps/front/src/modals/Deposit/Before.vue
  apps/front/src/modals/Withdraw/Before.vue
Due: prettier --write, yarn workspace front lint

docs: fix typos + updated some sections
  README.md
Due: none

feat: auto-update information without refresh
  apps/front/src/App.vue
Due: prettier --write, yarn workspace front lint

feat: added a system to fetch whole history
  apps/api/srcs/routes/futures/get.js
  apps/api/srcs/routes/user/history/get.js
  apps/api/srcs/wrappers/history.js
Due: prettier --write, eslint --fix

fix: history system now fetches in descending order
  apps/api/srcs/routes/futures/get.js
  apps/api/srcs/routes/user/history/get.js
  apps/api/srcs/wrappers/history.js
Due: prettier --write, eslint --fix

refactor: set fetch interval to 15secs
  apps/front/src/App.vue
Due: prettier --write, yarn workspace front lint

feat: added error codes inside modal faillure view
  apps/front/src/modals/Deposit/Faillure.vue
  apps/front/src/modals/Withdraw/Faillure.vue
  apps/front/src/store/index.js
  apps/front/src/store/user/actions.js
Due: prettier --write, yarn workspace front lint

docs: bump version
  Dockerfile
Due: none

docs: updated usage
  README.md
Due: none

fix: added TOR support and added env variables
  apps/api/docker/healthcheck.js
  apps/api/srcs/middleware/cors.js
  apps/front/src/plugins/client.js
  docker-compose.yml
Due: prettier --write, eslint --fix, yarn workspace front lint

docs: bumbed version
  Dockerfile
Due: none

refactor: test a new way of passing env variable to front
  Dockerfile
  apps/front/docker/Dockerfile.dev
  apps/front/src/plugins/client.js
  dev/docker-compose.yml
  docker-compose.yml
  entrypoint.sh
Due: prettier --write, yarn workspace front lint

fix: typos and added some debug
  Dockerfile
  docker-compose.yml
  entrypoint.sh
Due: none

fix: misplaced chmod removed
  Dockerfile
Due: none

fix: moved entrypoint to api and updated target file for string replacement
  Dockerfile
  apps/api/entrypoint.sh
  entrypoint.sh
Due: none

fix: regex match for string repacement
  apps/api/entrypoint.sh
Due: none

fix: env variable name
  apps/api/entrypoint.sh
Due: none

fix: removed debug
  apps/api/entrypoint.sh
Due: none

refactor: cleaner way to get API port in front + few tweaks in dockerfile and docker-conpose files
  Dockerfile
  apps/api/docker/Dockerfile.dev
  apps/api/entrypoint.sh
  apps/front/docker/Dockerfile.dev
  apps/front/src/plugins/client.js
  apps/front/vite.config.js
  dev/docker-compose.yml
  docker-compose.yml
Due: prettier --write, yarn workspace front lint

fix: front config
  Dockerfile
  apps/front/vite.config.js
Due: prettier --write, yarn workspace front lint

refactor: new way to detect dev from prod config
  apps/front/src/plugins/client.js
  apps/front/vite.config.js
Due: prettier --write, yarn workspace front lint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

feat: added few scripts to automate env setup (#14)
  dev/infra/scripts/init.sh
  dev/infra/scripts/start.sh
  dev/scripts/start.sh
Due: none

refactor: yarn scripts for dev env (#14)
  dev/infra/scripts/stop.sh
  dev/package.json
  dev/scripts/stop.sh
Due: none
